:root{
    --cell-width: 0;
    --cell-height: 0;
    --bg-color: 243, 231, 211;
    --opacity-level:  1.0;
    --container-dimensions: 600;
}
*,*::before, *::after{
    box-sizing: border-box;
}

body{
    background-color: #FFE6C7;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
h1{
    font-family: 'Covered By Your Grace';
    font-size: 84px;
    margin: 10px 0px;
}

#grid-container{
    min-width: calc(var(--container-dimensions)*1px);
    max-width: calc(var(--container-dimensions)*1px);
    min-height: calc(var(--container-dimensions)*1px);
    max-height: calc(var(--container-dimensions)*1px);
    border: 3px solid #454545;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--cell-width)*1px), 1fr));
    grid-template-rows: repeat(auto-fit, minmax(calc(var(--cell-height)*1px), 1fr));
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.hide-caret{
    caret-color: transparent;
}

.grid-cell{
    background-color: rgba(var(--bg-color), var(--opacity-level));
    border: 1px solid #454545;
    transition: background-color 0.25s;
}

button{
    background-color: rgb(var(--bg-color));
    width: 100px;
    border-radius: 5px;
    border: 2px solid #454545;

}

.shade-animation{
    animation: shading 5s ease-in-out infinite;
}

.rainbow-animation{
    animation: rainbow-ani 5s ease-in-out infinite;
}


@keyframes shading {
    0%, 100%{
        color: black;
    }
    50%{
        background-color: black;
        color: white;
    }
    
}

@keyframes rainbow-ani {
    0%, 100%{
        color: black;
    }
    12% {
        background-color: red;
        color: black;
        
    }
    24% {
        background-color: orange;
        color: black;
    }
    36% {
        background-color: yellow;
        color: black;
    }
    48% {
        background-color: green;
        color: black;
    }
    60% {
        background-color: blue;
        color: white;
    }
    72% {
        background-color: indigo;
        color: white;
    }
    84% {
        background-color: violet;
        color: black;
    }
}

#config-container{
    border: 2px solid #FFA559;
    Height: 100px;
    width: calc(var(--container-dimensions)*1px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Figtree';
    font-weight: bold;
}
.button-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.color-container{
    display: inline-block;
}

.slidecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    -webkit-appearance: none;
    background: #FFA559;
    opacity: 0.8;
    transition: opacity 0.2s;
    height: 15px;
    border-radius: 10px;
    width: 200px;
}
.sliderValue{
    padding-left: 5px;
    width: 20px;
}

.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 50%;
    background: #FF6000;
}
.slider::-moz-range-thumb{
    background: #FF6000;

}

#colorpicker{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #ff6000;
    opacity: 0.8;
}
#colorpicker::-webkit-color-swatch{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    border: none;
}